.container {
  width: 100%;
  max-width: 1300px;
  overflow: scroll;
  margin: 0 auto;
}

.innerContainer {
  padding: 20px 10px;
}

.table {
  table-layout: fixed;
  min-width: 1280px;

  border: 1px solid #e4e7f0;
  border-collapse: collapse;
}

.tableHead tr {
  height: 28px;
}

.th {
  text-align: left;
  border-bottom: 1px solid #e4e7f0;
  color: #5f667e;
  font-weight: normal;
  font-size: 14px;
}

.td {
  text-align: left;
  height: 46px;
}

.tCol1 {
  width: 48px;
  text-align: center;
}

.tCol2 {
  width: 250px;
}

.tCol3 {
  width: 200px;
}

.tCol4 {
  width: 200px;
}

.tCol5 {
  width: 400px;
}

.tCol6 {
  width: 290px;
}
